* {
	margin: 0px;
	padding: 0px;
}
.div {
	width: 100px;
	height: 100px;
}
#div2 {
	width: 500px;
	height: 500px;
	background: pink;
}
#task2 {
	width: 200px;
	height: 50px;
	background: red;
	border-radius: 10px;
}
